<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample</title>
</head>
<body>
    <h1>This is a sample</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quis alias libero aliquam explicabo veniam tempore, ipsam saepe? Fuga, placeat voluptas tenetur optio suscipit molestias excepturi adipisci maiores iusto sequi!</p>
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit perferendis ad repudiandae, omnis quam voluptatum veritatis, adipisci ipsum iusto quae pariatur error accusamus? Consequuntur cumque dicta illum? Reiciendis accusamus cum repellat earum, magnam, nostrum officiis eum dolores asperiores et vitae laborum temporibus, voluptates soluta voluptatum rem pariatur aliquam beatae delectus!</p>
</body>
</html>